
{{bootstrap.load_css()}}
{{bootstrap.load_js()}}

<header id="header" class="d-flex align-items-center">
  <div class="container d-flex justify-content-between align-items-center">

    <div class="logo">
      <h1><a href="/">CST205 - BY YASH</a></h1>
    </div>

    <nav id="navbar" class="navbar">
      <ul>
        <a class="nav-item nav-link " href="/upload" style="font-size: 18px;">Upload</a>
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav><!-- .navbar -->

  </div>
</header><!-- End Header -->

{#
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">CST205 - BY YASH</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link " href="/">Home<!--<span class="sr-only">(current)</span>--></a>
        <a class="nav-item nav-link " href="/upload">Upload<!--<span class="sr-only">(current)</span>--></a>
        
      </div>
    </div>
</nav>
#}